data
yolo11m.pt
test/20250915v1/checkpoint
networks/FasterRCNN-PyTorch
checkpoint
networks/__pycache__/*
.DS_Store
common/__pycache__/
data2
notebooks/test.ipynb
notebooks/comparativo.ipynb
test/20250924_frcnn/20250923_version_v1_last_None_arch_frcnn
data2_external.yaml